<% include partials/header.ejs %>
<section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">

                <img src="images/myphoto.jpeg" alt="Profile Picture"></style>

                <p class="lead">
                I am a Software Engineering student at Centennial College. I am skilled as Web developer and I have keen interest in data. 
                I use my software engineering skills for web development and to deploy web appilications.
                I have worked on several projects with my friends to deliver exceptional results as a freelancer.
                I am interested in exploring the fields of Web developer, Data Science and Software-Design. I am open to opportunities for the same.
                </p>
            </div>   			

        </div>   		
    </div> 

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Rishabh Dev Dogra</span>
                </li>
                
                <li>
                    <strong>Job:</strong>
                    <span>Student, Freelancer, Developer</span>
                </li>
                
                <li>
                    <strong>Email:</strong>
                    <span>rishabhdevd24@gmail.com</span>
                </li>

            </ul> 

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
            

             <ul class="skill-bars">
                <li>
                    <div class="progress percent90"><span>98%</span></div>
                    <strong>HTML5</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>SAS</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>90%</span></div>
                    <strong>JQuery</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>Java</strong>
                </li>
                <li>

                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Python</strong>
                </li>
   
             </ul> 	

        </div>

    </div>
    <% include partials/footer.ejs %>