<% include partials/header.ejs %>
<section class="bgimage" id="home">
    <div class="container-fluid">
        <div class="row">
        
        </div>
    </div>

<section id="portfolio">
    <div class="container mt-3">
        <h1 class="text-center">Portfolio</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  <img src="/images/Port.png" style="width:40 px; size: 100 px; padding-top : 10px;">
                  <br>
                  <br>
                  
                    <div class="card-body">
                        <h4 class="card-title">Portfolio Project  </h4>
                        <br>
                        
                        <div class="text-center">
                            <a href="./homepage" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  <img src="/images/SAS.png" style="width:40 px; size: 90 px; padding-top  :25px">
                  <br>
                  
                  
                    <div class="card-body">
                        <h4 class="card-title">SAS Project </h4>
                        <br>
                        
                        <div class="text-center">
                            <a href="/images/SASP.pptx" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  <img src="/images/datap.png" style="width:40 px; size: 90 px; ">
                    <div class="card-body">
                        <h4 class="card-title">Restaurant Data Analysis </h4>
                        <br>
                        
                        <div class="text-center">
                            <a href="/images/Data Analysis project.pptx" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        
        </div>
        

</section>

<% include partials/footer.ejs %>